bootstrap.memory_lock: true

cluster.name: {{ es_cluster_name }}

node.name: {{ inventory_hostname }}

node.master: true
node.data: true
node.ingest: true

path.data: {{ mount_point }}
path.logs: /var/log/elasticsearch

network.host: [ _local_, _site_]

discovery.zen.ping.unicast.hosts: {{ es_hosts }}
discovery.zen.minimum_master_nodes: 2
